body{
    display: flex;
    justify-content: center;
    background-color: rgba(199, 198, 198, 0.556);
    
}


.main{
    background-color: white;
    width: 500px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 30px;
 
    
}

#form-sign{
    display: flex;
    flex-direction: column;
}
#titrpp{
    color:rgb(16, 76, 215);
    font-size: normal;
}

#email ,#phone ,#password {
    margin-top: 30px;
}
#pass ,#emailuser,#phoneNumbers {
    margin-top: 10px;
}

#emailuser , #phoneNumbers ,#pass input{
    border: 1px solid rgb(232, 240, 254) ;
    border-radius: 20px;
    background-color: rgb(232, 240, 254);
    padding: 15px;
  
    width: 470px;
}
#phoneNumbers{
    text-align: right;
}

#pass{
    border: 1px solid rgb(232, 240, 254);
    border-radius: 20px;
    background-color: rgb(232, 240, 254);
    padding: 15px;  
    width: 470px;
}


#forget{
    color:rgb(16, 76, 215);
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    
}
#pass:hover{
    
    border:1px solid rgba(182, 214, 242, 0.827);
    background-color: rgba(196, 223, 248, 0.988);
}
#phoneNumbers:hover{
    
    border:1px solid rgba(182, 214, 242, 0.827);
    background-color: rgba(196, 223, 248, 0.988);
}
#emailuser:hover{
    
    border:1px solid rgba(182, 214, 242, 0.827);
    background-color: rgba(196, 223, 248, 0.988);
  
}


#google{
    border: 2px solid rgb(238, 238, 238);
    background-color:white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: black;

    border-radius: 10px;
}
#google:hover{
    cursor: pointer;
    opacity: 0.7;
}

#sabt{
    text-align: center;
}
#sabtnam{
    color: rgb(16, 76, 215);
    text-decoration: none;
}
#open{
    background-color: #286bb8;
    border: 1px solid #286bb8;
    border-radius: 10px;
    color: white;
    height: 55px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
#open:hover{
    cursor: pointer;
    background-color: rgb(25, 60, 142);
}


img{
    width: 20px;
    height: 20px;
    text-align: center;
    padding-right: 10px;

}