body{
    display: flex;
    justify-content: center;
    background-color: rgba(199, 198, 198, 0.556);

}

#forget:hover{
    cursor: pointer;
    color: #007aff;

}

.main{
    background-color: white;
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 30px;
 
    
}
#labelEmail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    padding-top: 25px;
    
}
#labelpass{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    padding-top: 25px;
    
}
#titr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
}
#form-login{
    display: flex;
    flex-direction: column;
}
#titrpp{
    color:#2564ace6;

}
#emailuser{
    border: 1px solid rgb(232, 240, 254) ;
    border-radius: 20px;
    background-color: rgb(232, 240, 254);
    padding: 15px;
    width: 470px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}
#pass{
    border: 1px solid rgb(232, 240, 254);
    border-radius: 20px;
    background-color: rgb(232, 240, 254);
    padding: 15px;  
    width: 470px;
    margin-top: 20px;
  
}
#password{
  margin-top: 20px;
}
#forget{
    color:#286bb8e6;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    
}
#pass:hover{
    cursor: pointer;
    border:1px solid rgba(182, 214, 242, 0.827);
    background-color: rgba(196, 223, 248, 0.988);

}
#emailuser:hover{
    cursor: pointer;
    border:1px solid rgba(182, 214, 242, 0.827);
    background-color: rgba(196, 223, 248, 0.988);
  
}
#open{
    background-color: #286bb8;
    border: 1px solid #286bb8;
    border-radius: 10px;
    color: white;
    height: 55px;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}
#open:hover{
    cursor: pointer;
    background-color: #184981e6;
}

#google{
    border: 2px solid rgb(238, 238, 238);
    background-color:white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: black;

    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}
#google:hover{
    cursor: pointer;
    opacity: 0.7;
}
#sabtnam{
    color: #286bb8;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 10px;
}
#sabt{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}
img{
    width: 25px;
    height: 24px;
    text-align: center;
    padding-right: 13px;
    margin-bottom: -6px;

}